In [17]:
### ordinal number Encoding

In [7]:

import pandas as pd 
from sklearn.model_selection import train_test_split
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np 

plt.rcParams["figure.figsize"] = (20,20)
plt.rcParams["font.size"] = 10

In [14]:
df = pd.read_csv("titanic.csv", usecols=["Sex"])

In [16]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male