# Naive Bayes Classifiers :
   - faster in training than Linear Model 
   - Provides worse Generalization than Linear Classifiers Like Logistic and Linear Regression 
   - efficiency by looking at each feature individually and collect simple per-class statistics from each feature
   -  
   
   
   
  
   - GaussianNB 
   
   - can be applied to any continuous data
   
   
   - BernoulliNB 
   - assumes binary data
     
     
   - MultinomialNB
   - (that is, that each feature represents an integer count of some‐ thing, like how often a word appears in a sentence).
   
   - the average value of each feature for each class
     
   
   
   - GaussianNB stores the average value as well as the standard deviation of each feature for each class
   
   
   
   
   - BernoulliNB and MultinomialNB are mostly used in text data classification. Spam

In [11]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
import pandas as pd 
import numpy as np

In [12]:
df = pd.read_csv("spam.csv")

In [13]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [14]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [15]:
df["spam"] = df["Category"].apply(lambda x: 1 if x == "spam" else 0)

In [16]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=.25)

In [35]:
# use the text Extraction to get the values to a binary form 
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [28]:
model = MultinomialNB().fit(X_train_count, y_train)

In [46]:
from sklearn.pipeline import Pipeline

In [47]:
clf = Pipeline(
    [
        ("vectorized", CountVectorizer() ), 
        ("nb", MultinomialNB())
    
])

In [48]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorized', CountVectorizer()), ('nb', MultinomialNB())])

In [49]:
clf.score(X_train, y_train)

0.9935391241923905